pymc3==3.6
lxml
geocoder
geopy
folium
owslib==0.28.1
geopandas==0.6.0
Shapely
rtree
fiona
pyproj
six
numpy
pandas
pandana
urbanaccess
mapclassify
descartes==1.1.0
adjustText
pysal==2.1.0
tqdm
mkl-service
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
